.key {
  width: 45px;
  height: 60px;
  margin: 5px;
  border-radius: 4px;
  background-color: #c6c7c8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
#big {
  width: 65px;
  font-size: 14px;
  font-weight: bold;
}
#disabled {
  background-color: #3a393c;
  color: white;
}
