.keyboard {
  margin-top: 7px;
}
.line1 {
  display: flex;
  justify-content: center;
}
.line2 {
  display: flex;
  justify-content: center;
}
.line3 {
  display: flex;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 590px) {
  .keyboard {
    margin-top: 4.5rem;
  }
}
