.navbar {
  border-bottom: 1.8px solid rgb(231 220 220);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  background-color: #33c7c7;
}
.navbar-heading {
  font-weight: bold;
}
.navbarhome {
  margin-right: 3rem;
}
